---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../icons/Linkedin.astro";
import GithubIcon from "../icons/Github.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../icons/Briefcase.astro";
---

<Layout title="Portfolio de Tiziano - Desarrollador y Programador Web"
description="Contrata a Tiziano para crear tu aplicación web o móvil. Desarrollador Web.">
	<main>
		<SectionContainer class="py-44 pb-24">
			<img
				class="rounded-full size-12 mb-4"
				src="../../public/img-perfil.jpeg"
				alt="tiziano photo"
			/>
			<h1
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10"
			>
				Hey, soy Tiziano <a
					href="https://www.linkedin.com/in/tiziano-rossi-raczkoski-91a4b82b1/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
					><Badge>Disponible para trabajar</Badge></a
				>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span>+8 meses de experiencia.</span><span
					class="text-yellow-200/90"
				>
					Desarrollador Web y Estudiante de Programación e Innovación
					Tecnologica.</span
				><span class="text-sky-200/90"> De Misiones, Argentina.</span>
				<span class="opacity-75"
					>Busco crear desde aplicaciones hasta interfaces visuales
					únicas.</span
				>
			</h2>

			<nav class="flex gap-x-4 mt-8">
				<SocialPill href="https://www.linkedin.com/in/tiziano-rossi-raczkoski-91a4b82b1/">
					<LinkedInIcon class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/TiziRR">
					<GithubIcon class="size-6" />
					Github
				</SocialPill>
				<SocialPill href="https://github.com/TiziRR">
					<MailIcon class="size-6" />
					tizianorossi508@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7" />
				Experiencia
			</h2>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
